<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Jenny Stores</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="add">Add new Restaurant</a>
      <a class="nav-item nav-link" routerLink="">List of Restaurants</a>
      <a class="nav-item nav-link" routerLink="login">Login</a>
      <a class="nav-item nav-link" routerLink="register">Register</a>
      <a class="nav-item nav-link" routerLink="update">Update</a>
    </div>
  </div>
</nav>

<div>
  <input
    type="file"
    name="fileToUpload"
    id="fileToUpload"
    (change)="fileSelected($event)"
  />
  <span></span>
</div>
<p>FileName - {{ file?.name }}</p>
<p>FileSize - {{ fileSize }}</p>
<p>FileType - {{ file?.type }}</p>

<div>Hello {{ name }}</div>
<input type="text" value="Titan" [id]="myId" />

<div class="container">
  <router-outlet></router-outlet>
  <footer>
    <p>Register with us Today</p>
  </footer>
</div>
